.leftcard{
	background-color: #ceabbb;

}
.paddingrem{
	padding-right: 0;
	padding-left: 0;
}
.cardstyle{
	border-color: #ffd199;
	/* height: 400; */
	background-color: #ffd199
}

.top-buffer { 
	margin-top:10px; 
}

.bgcolor {
	background-color: #ffd199
}

.bgcolor2{
	background-color: #fce8cc
}

.font1 {
	font-weight: bold;
	font-family: verdana;
	padding-left: 5px;
	font-size: 14px;
}

body {
	font-family: verdana;
	font-size: 13px;
}

.col-1-5{
	width: 2%;
}

.liststyle{
	font-weight: bold;
}
span{
	color:#7f7f84;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotfull{
	background-color: #252526;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
img{
	padding: 20px 5px 0px 5px;
}