body{
	background: #d8d8d8;
	text-align: center;
	font-family: cambria;
	font-size: 14px;
}

.topdiv{
	background-color: #6d0887;
	width:100%;
	height: 200px;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
	margin-top: -100px;
	text-align: center;
}
	
.firstbox{
	display: inline-block;
	width: 700px;
	height: 200px;
	background:white;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.topleft {
	height:100%;
	float:left;
	display: inline-block;
}

.topmiddle {
	height:100%;
	width: 50%;
	float:left;
	display: inline-block;
}

.topright{
	display: inline-block;
	height: 100%;
	width: 20%;
	color: #845276;
	background: -moz-linear-gradient(bottom left, white, purple, green);
	float: right;
}

img {
	max-height: 100%;
}
table {
	 text-align: left;
	 border-spacing: 10px 0.5rem;
	 height: 99%;
	 max-width:  99%;

}

.font1 {
	font-size: 22px;
	font-weight: bold;
	color: green;
}

.font2{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: bold;
	color: green;
	text-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.bold{
	font-weight: bold;
}

