.leftcard{
	background-color: #ceabbb;

}
.paddingrem{
	padding-right: 0;
	padding-left: 0;
}
.cardstyle{
	border-color: #ffd199;
	/* height: 400; */
	background-color: #ffd199
}

.top-buffer { 
	margin-top:10px; 
}

.bgcolor {
	background-color: #ffd199
}

.bgcolor2{
	background-color: #fce8cc
}

.font1 {
	font-weight: bold;
	font-family: verdana;
	padding-left: 5px;
	font-size: 14px;
}

body {
	font-family: verdana;
	font-size: 13px;
}

.col-1-5{
	width: 2%;
}

.liststyle{
	font-weight: bold;
}
span{
	color:#7f7f84;
}
